@model PagedList.IPagedList<CostsWeb.Models.CostsJournal>
@using PagedList.Mvc

@{
    ViewBag.Title = "Журнал расходов";
}

<h2>Журнал расходов</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Категория", "Index", new {sortOrder = ViewBag.CategorySortParam})
        </th>
        <th>
            @Html.ActionLink("Подкатегория", "Index", new { sortOrder = ViewBag.SubCategorySortParam })
        </th>
        <th>
            @Html.ActionLink("Дата", "Index", new { sortOrder = ViewBag.DateSortParam })
        </th>
        <th>
            Сумма
        </th>
        <th>
            Примечание
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubCategory.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date, "ShortDate")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.ActionLink("Редактировать", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Просмотр", "Details", new { id=item.Id }) |
                @Html.ActionLink("Удалить", "Delete", new { id=item.Id })
            </td>
        </tr>
    }

</table>

<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort }))
